<style type="text/css">

  body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
  }

  h1, 
  h2, 
  h3, 
  h4, 
  h5, 
  h6 {

  }
  h1 { 
    font-size: 26px;
  }
  h2 { 
    font-size: 24px;
  }
  h3 { 
    font-size: 20px;
  }
  h4 { 
    font-size: 18px;
  }
  h5 { 
    font-size: 16px;
  }
  h6 { 
    font-size: 14px;
  }

  p, 
  ol, 
  ul, 
  dl, 
  address { 
  }

  ul, 
  ol { 
    
  }
  ul {}
  ol {}
  li ul, 
  li ol { 
  }

  dl, 
  dd {}
  dt {}

  blockquote  {}

  b, 
  strong  {}
  i, 
  em {}

  sup, 
  sub { 
  }

  address {}

  pre { 
  }
  
</style>